
@using MAS_Sustainability.Models
@model MainModel

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Home/LayoutBody.cshtml";
}




<div class="main-panel">
    <div class="content">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">Report List</h4>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <table id="basic-datatables" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="basic-datatables_info">
                                            <thead>

                                                <tr role="row">
                                                    <th rowspan="1" colspan="1">Name</th>
                                                    <th rowspan="1" colspan="1">Location</th>
                                                    <th rowspan="1" colspan="1">Description</th>
                                                    <th rowspan="1" colspan="1">Category</th>
                                                    <th rowspan="1" colspan="1">Added Date</th>
                                                    <th rowspan="1" colspan="1">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>

                                                <tr>
                                                    <th rowspan="1" colspan="1">Name</th>
                                                    <th rowspan="1" colspan="1">Location</th>
                                                    <th rowspan="1" colspan="1">Description</th>
                                                    <th rowspan="1" colspan="1">Category</th>
                                                    <th rowspan="1" colspan="1">Added Date</th>
                                                    <th rowspan="1" colspan="1">Actions</th>
                                                </tr>

                                            </tfoot>
                                            <tbody>
                                                @foreach (var item in Model.ReportList)
                                                {
                                                    <tr role="row">
                                                        <td class="sorting_1">@Html.DisplayFor(m => item.ProblemName)</td>
                                                        <td>@Html.DisplayFor(m => item.Location)</td>
                                                        <td>@Html.DisplayFor(m => item.Description)</td>
                                                        <td>@Html.DisplayFor(m => item.Category)</td>
                                                        <td>@Html.DisplayFor(m => item.Category)</td>
                                                        <td>@Html.DisplayFor(m => item.AddedDate) </td>
                                                        <td>
                                                            <i>@Html.ActionLink("View", "viewReport", "Report", new { Id = item.tokenID }, new { @class = "btn btn-success btn-sm " })</i>
                                                        </td>
                                                    </tr>
                                                }


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>





<script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
<script src="~/Content/assets/js/core/popper.min.js"></script>
<script src="~/Content/assets/js/core/bootstrap.min.js"></script>
<!-- jQuery UI -->
<script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
<!-- Bootstrap Toggle -->
<script src="~/Content/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<!-- jQuery Scrollbar -->
<script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- Datatables -->
<script src="~/Content/assets/js/plugin/datatables/datatables.min.js"></script>
<!-- Atlantis JS -->
<script src="~/Content/assets/js/atlantis.min.js"></script>
<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="~/Content/assets/js/setting-demo2.js"></script>









<script>
    $(document).ready(function () {
        $('#basic-datatables').DataTable({


        });




    });
</script>